.mainArea__right {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-left: 3px solid black;
  height: 92vh;
}
.postWall {
  margin: 24px;
  border-bottom: 3px solid black;
}
.chatArea {
  flex: 1;
  overflow-y: scroll;
}
.input__area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  margin: 20px;
  border: 1px solid black;
  border-width: medium;
}
.input__area > input {
  padding: 15px;
  background: transparent;
  width: 100%;
  border: none;
  outline-width: 0;
  font-size: large;
}
.input__area {
  flex: 1;
}
.input__button {
  display: none;
}
