.landingPage__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  background-color: #03045e;
  min-height: 3.8vw;
}
.landingPage__headerLeft {
  flex: 0.25;
}
.landingPage__headerLeft__logo {
  display: flex;
  align-items: center;
  color: white;
}
.landingPage__headerCenter {
  align-items: center;
  flex: 1;
  justify-content: space-between;
  padding-right: 160px;
  padding-left: 117px;
}
.landingPage__headerCenter__searchBox {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 18px;
  padding: 3px;
}
.landingPage__headerCenter__searchBox > input {
  background: transparent;
  outline-width: 0;
  border: none;
  flex: 1;
}
.landingPage__headerRight {
  flex: 0.1;
  display: flex;
}
.landingPage__headerRight__Icon {
  padding-left: -17px;
  padding-right: -22px;
  cursor: pointer;
  color: white;
  margin-right: 30px;
}
.landingPage__headerRight__Icon:hover {
  color: white;
}
.landingPage__header__profileDropdown {
  position: absolute;
  z-index: 1;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  display: none;
}
.landingPage__header__profileDropdown__item:hover {
  background-color: #03045e;
  color: white;
}
