.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  background-color: #0077b6;
  min-height: 3.8vw;
}
.header__left {
  flex: 0.25;
}
.logo {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}
.header__center {
  align-items: center;
  flex: 1;
  justify-content: space-between;
  padding-right: 160px;
  padding-left: 117px;
}
.search__box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 18px;
  padding: 3px;
}
.search__box > input {
  background: transparent;
  outline-width: 0;
  border: none;
  flex: 1;
  padding-left: 20px;
}
.ico {
  padding-left: -17px;
  padding-right: -22px;
  cursor: pointer;
  color: white;
  margin-right: 30px;
}
.ico:hover {
  color: white;
}
.dropdown {
  position: absolute;
  z-index: 1;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  display: none;
}
.item:hover {
  background-color: #03045e;
  color: white;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 20px;
  right: 25vh;
}

.landingPage__accept__btn {
  background-color: #0e1952;
  color: white;
  margin-left: 25px;
  padding: 10px;
  border: none;
  border-radius: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.items {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 15px;
}
.item__info {
  margin-top: 5px;
  padding-left: 15px;
  text-align: center;
  padding-top: 7px;
}
.landingPage__reject__btn {
  margin-left: 7px;
  background-color: red;
  border: none;
  border-radius: 80px;
  color: white;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.reject__btn:hover {
  cursor: pointer;
}
.accept__btn:hover {
  cursor: pointer;
}

.notiDropdown {
  position: absolute;
  align-self: self-end;
}

#dropdownHeaderNoti {
  margin-top: 7vh;
  position: absolute;
  align-self: self-end;
  margin-right: 4vh;
}

.headerPage_Anchor {
}
.colooo {
  background-color: #48cae4;
  color: #023e8a;
}
.colooo:hover {
  background-color: #023e8a;
  color: white;
}
.headerPage_Anchor:hover {
  color: white;
}
